name: Deploy Multiple Repos

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to deploy"
        required: true
        default: "develop"
      environment:
        description: "Target environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - uat
          - prod
          - prod2

jobs:
  trigger-deployments:
    runs-on: arc-medium
    steps:
      - name: Set repositories
        run: |
          echo "REPOS=Nikhil,sumedh,vaibhav,ajay," >> $GITHUB_ENV

      - name: Trigger workflows in all repos
        run: |
          IFS=',' read -ra REPO_ARRAY <<< "$REPOS"
          for repo in "${REPO_ARRAY[@]}"; do
            echo "Triggering $repo with branch ${{ github.event.inputs.branch }} and environment ${{ github.event.inputs.environment }}"
            curl -X POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ secrets.PERSONAL_GITHUB_TOKEN }}" \
              https://api.github.com/repos/YOUR_ORG/${repo}/actions/workflows/deploy.yml/dispatches \
              -d "{\"ref\":\"${{ github.event.inputs.branch }}\",\"inputs\":{\"environment\":\"${{ github.event.inputs.environment }}\"}}"
          done
